

<form class="form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input type="text" [(ngModel)]="tecnico.nome" [formControl]="nome" required name = "nome" matInput >
      <mat-error *ngIf="nome.invalid" >{{ errorValidForm()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Cpf</mat-label>
    <input type="text" [(ngModel)]="tecnico.cpf" [formControl]="cpf" required  name = "cpf" matInput>
    <mat-error *ngIf="cpf.invalid" >{{ errorValidForm()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Telefone</mat-label>
    <input type="text" [(ngModel)]="tecnico.telefone" name = "telefone" required matInput >
    <mat-error *ngIf="telefone.invalid" >{{ errorValidForm()}}</mat-error>

  </mat-form-field>

    <a mat-raised-button (click)="create()" style="background-color: green; color: #fff;">Salvar</a>
    <button mat-raised-button (click)="backToTecList()" style="background-color: red; color: #fff;">Cancelar</button>


</form>
