<div class="title">Tecnicos</div>

<div class="create">
  <div class="button">
    <button mat-mini-fab color="accent" (click)="createTecnico()" aria-label="Example icon button with a plus one icon">
     Add
    </button>
  </div>

</div>


<table mat-table [dataSource]="tecnicos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> Cpf/Cnpj </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> N° Telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> acoes </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="update/{{element.id}}">
        <i class="material-icons">edit</i>
      </a>
      <a>
        <i (click)="deleteTecnico(element)" style="color: red;" class="material-icons">delete</i>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <p id="output"></p>



</table>
<!-- <mat-paginator #paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->

