.title{
  display: flex;
  justify-content: center;
}

a :hover{
  cursor: pointer;
}

table{

 width: 65%;
 position: center;

 margin-left: 200px;
}

.button{
  display: flex;
  justify-content: end;
  margin-right: 70px;
}

