

<form class="form">
  <div class="title">
    <h1>atualizando novo tecnico</h1>
  </div>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input type="text" [(ngModel)]="tecnico.nome" [formControl]="nome" required name = "nome" matInput >
      <mat-error *ngIf="nome.invalid" >{{ errorValidName()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Cpf</mat-label>
    <input type="text" [(ngModel)]="tecnico.cpf" [formControl]="cpf" required  name = "cpf" matInput>
    <mat-error *ngIf="cpf.invalid" >{{ errorValidCpf()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Telefone</mat-label>
    <input type="text" [(ngModel)]="tecnico.telefone" name = "telefone" required matInput >
    <mat-error *ngIf="telefone.invalid" >{{ errorValidTelefone()}}</mat-error>

  </mat-form-field>

    <button mat-raised-button (click)="update()" [disabled]="errorValidName() || errorValidCpf() || errorValidTelefone()" style="background-color: green; color: #fff;">Salvar</button>
    <button mat-raised-button (click)="backToTecList()" style="background-color: red; color: #fff;">Cancelar</button>


</form>
